*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.contenedor__modoMessi{
    max-width: 1920px;
    margin: auto;
}

/**** generales ****/

h1, h2, h3, h4, h5, h6, h1 span{
    font-family: 'Oswald', sans-serif;
}

p, label, input, span {
    font-family: 'Bitter', serif;
}

.blanco{
    color: white; 
    background-color: yellow;
    padding: 1rem;
    margin-right: 0.5rem;
}



/**** /generales ****/

/**** header ****/

.header{
    background-color: black;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 100px;
}

.header__nav{
    list-style: none;
}

.header__list{
    display: flex;
    font-family: 'Oswald', sans-serif;
    list-style: none;
}

.header__item{
    margin: 0rem 1rem;
}

.header__anchor{
    color: white; 
    text-decoration: none;
    text-transform: uppercase;
}

/**** /header ****/

/**** hero ****/

.hero {
    height: 90vh;
    background-image: url("../img/jaque_XL.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
}

.hero__title{
    font-size: 5rem;
    background-color: #f1101c;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    top: -50px;
}

.hero__title--white{
    color: white;
    background: black;
    padding-left: 1rem;
}

.hero__title--black{
    padding: 0rem 1rem;
    color: black;
    background: white;
}

.hero__contenedor{
    display: flex; 
    gap: 50px; 
    justify-items: center;
    align-items: center;
}

.hero__parrafo, .hero__form{
    flex-basis: 100%; 
}



.hero__parrafo{
    background-color: rgba(255, 255, 255, 60%);
    color: black; 
    padding: 1rem;
    line-height: 1.5;
}

.hero__parrafo strong{
    color: red; 
}

.hero__form {
    display: flex;
    flex-direction: column;
}

.hero__input {
    margin: 0rem 0rem 1rem 0rem;
    width: 100%;
    height: 2rem;
}

.hero__formWrp {
    width: 80%;
}

.form__btn {
    width: 80%;
    background: #f1101c;
    border: none;
    height: 2rem;
    color: white;
    font-size: 1.2rem;
}

/* negocio */

.negocio {
    display: flex;
    padding: 3rem 8rem;
    gap: 50px;
    align-items: center;
}

.negocio__contenedor {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
}

/* servicios  */


.servicios {
    display: flex;
    background-color: black;
    padding: 1rem 5rem;
}

.servicios__columna {
    display: flex;
    color: white;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.servicios__img {
    width: 50%;
    height: 50%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 5rem;
    gap: 2rem;
    align-items: center;
}


/*EJEMPLO CLASE ANIMACIONES*/

/*

 

*/

/* POSICIONAMIENTO GENERAL DE LAS CAJAS Y CONTENEDOR */

@keyframes entrar_salir{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.kenburns-top {
	-webkit-animation: kenburns-top 2.5s ease-out both;
	        animation: kenburns-top 2.5s ease-out both;
}


.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-22 22:2:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

/* ----------------------------------------------
 * Generated by Animista on 2022-12-22 22:0:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 20% 16%;
              transform-origin: 20% 16%;
    }
    100% {
      -webkit-transform: scale(1.15) translateY(-15px);
              transform: scale(1.15) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 20% 16%;
              transform-origin: 20% 16%;
    }
    100% {
      -webkit-transform: scale(1.15) translateY(-15px);
              transform: scale(1.15) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  

.caja{
    width: 300px;
    height: 300px;
    background: red; 
    position: relative;
    transform: scale(1);
    transition: all 2s;
    z-index: 100;
    animation-name: entrar_salir;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;

}

.caja:hover{
    height: 350px;
    transform: scale(1.2);
    background: -moz-linear-gradient(-180deg, rgba(27,1,4,1) 30%, rgba(105,89,5,1) 55%, rgba(162,152,5,1) 73%);
    background: -webkit-linear-gradient(-180deg, rgba(27,1,4,1) 30%, rgba(105,89,5,1) 55%, rgba(162,152,5,1) 73%);
    background: linear-gradient(-180deg, rgba(27,1,4,1) 30%, rgba(105,89,5,1) 55%, rgba(162,152,5,1) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b0104",endColorstr="#a29805",GradientType=1);
    border-bottom: solid 10px tomato;  
}

.caja--negra {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
    top: 26%;
    left: 39%;
    z-index: 99;
}

.anim_contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

/* PROPIEDADES EJEMPLO */


/* MEDIA QUERIES (ESTILOS MOVILES) */


@media screen and (min-width: 1024px) {
    .negocio__pic{
        width: 50%;
    }
}

@media screen and (max-width: 768px ) {
       .header{
        background-color: yellow;

       } 
       .negocio{
        flex-direction: column;
       }

       .servicios{
        display: none;
       }

       .footer{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .header{
        background-color: tomato;
        flex-direction: column;} 

    .header__list {
        flex-direction: column;
        margin-top: 1rem;
    }

    .hero{
        height: auto;
       overflow: hidden;
    }

    .hero__title--white {
        color: white;
        background: black;
        padding: 0rem 20rem;
        /* width: 100%; */
    }

    .hero__title--black {
        padding: 0rem 20rem;
        color: black;
        background: white;
    }

    .hero__contenedor {
        gap: 25px;
        flex-direction: column;
        align-items: stretch;
    }

    .hero__formWrp {
        width: 100%;
    }

    .form__btn {
        width: 100%; 
    }
    .negocio, .servicios, .footer{
        flex-direction: column;
    }

    .negocio{
        padding: 1rem;
    }

    .negocio__pic {
        width: 100%;
    }

    .aifrem{
        width: 100% !important;
    }

    .servicios{
        display: flex;
       }

    .servicios__columna {
        margin-bottom: 1rem;
    }
}




/* max-width: hasta
   min-width: desde */