$padding-bloque: 1rem; 
$gradiente-desconocido:  linear-gradient(-180deg, rgba(27,1,4,1) 30%, rgba(105,89,5,1) 55%, rgba(162,152,5,1) 73%);

/* tamaño de fuente - propiedades de la caja - 
 info de color: HEX, RGB, HSL, 
grandiente: 


*/
 